@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div class="jumbotron">
            <h1 class="display-3">Вітаю, користувач!</h1>
            <p class="lead">Ви потрапили на стартову сторінку додатка TestsSystem. За допомогою цього додатка ви зможете перевырити свої знання з будьякої теми, запропанованої викладачем.</p>
            <hr class="my-4">
            <p>Щоб пройти тести - отримайте логін і пароль у викладача та увійдіть...</p>
            <p class="lead"><a class="btn btn-primary btn-lg" href="/identity/login" role="button">Увійти</a></p>
        </div>
    </div>
