<button class="c-header-toggler c-class-toggler d-lg-none mfe-auto"
        type="button" data-target="#sidebar"
        data-class="c-sidebar-show">
    <svg class="c-icon c-icon-lg">
        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-menu"></use>
    </svg>
</button>
<a class="c-header-brand d-lg-none c-header-brand-sm-up-center" href="#">
    <svg width="118" height="46" alt="BotUI Logo">
        <use xlink:href="assets/brand/coreui-pro.svg#full"></use>
    </svg>
</a>
<button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none"
        type="button" data-target="#sidebar"
        data-class="c-sidebar-lg-show"
        responsive="true">
    <svg class="c-icon c-icon-lg">
        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-menu"></use>
    </svg>
</button>
