@model int

<button class="btn btn-sm btn-dark float-right"
        id="_add_question_btn"
        data-toggle="modal"
        data-target="#_add_question_modal"
        data-themeId="@Model"
        type="button">
    Додати питання
</button>