@model int

<button class="btn btn-sm btn-dark float-right"
        id="_add_theme_btn"
        data-toggle="modal"
        data-target="#_add_theme_modal"
        data-subject="@Model"
        type="button">
    Додати тему
</button>