@model string

<button class="btn btn-sm btn-dark float-right _connect_question_btn"
        data-toggle="modal"
        data-target="#_connect_question_modal"
        data-student="@Model"
        type="button">
    Прив'язати питання
</button>